<div class="ui segments">
  <div class="ui segment">
    <div class="client-header-wrapper">
      <div class="client-info-wrapper">
        <img class="header-img" src="https://picsum.photos/200">
        <div class="client-data">
          <div><b>ქრისტინა ჩარკვიანი</b></div>
          <div class="client-key">უნიკალური კოდი: <b>319001111</b></div>
        </div>

      </div>
      <div class="client-assets-wrapper">
        <div class="assets-info">
          <div class=""><span class="grey-txt">აქტივები: </span><span class="balance">1000000.00</span> <b>GEL</b></div>
          <div class=""><span class="grey-txt">Plus:</span> <b class="plus-points">27000</b></div>
        </div>
        <div class="logout">
          <button class="ui red button" (click)="endSession()">გასვლა</button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal segments">
    <div class="ui segment focused" routerLink="." routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a>მთავარი</a>
    </div>
    <div class="ui segment focused" routerLink="../accounts" routerLinkActive="active">
      <a>ანგარიშები</a>
    </div>
    <div class="ui segment focused" routerLink="../operations" routerLinkActive="active">
      <a>ოპერაციები</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
