<form class="ui segments form">
  <div class="ui segment">
    <h1>თანხის გადარიცხვა</h1>
  </div>
  <div class="ui segment">
    <div class="ui form">
      <div class="ui field">
        <div class="nine wide field">
          <label>გამგზავნი ანგარიში</label>
          <select>
            <option>აირჩიე</option>
            <option>test account 1</option>
          </select>
        </div>
      </div>
      <div class="ui field">
        <div class="nine wide field">
          <label>მიმღები ანგარიში</label>
          <select>
            <option>აირჩიე</option>
            <option>test account 2</option>
          </select>
        </div>
      </div>
      <div class="ui field">
        <div class="nine wide field">
          <label>თანხა</label>
          <input type="number">
        </div>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <button type="submit" class="ui orange button">გადარიცხვა</button>
  </div>
</form>

