<div class="ui segments"  *ngIf="clientService.isIdentified" >
  <div class="ui segment">
    <div class="client-header-wrapper">
      <div class="client-info-wrapper">
        <img class="header-img" src="{{clientService.clientInfo.image}}">
        <div class="client-data">
          <div><b>{{ clientService.clientInfo.firstName }} {{ clientService.clientInfo.lastName }}</b></div>
          <div class="client-key">უნიკალური კოდი: <b>{{ clientService.clientInfo.clientKey }}</b></div>
        </div>

      </div>
      <div class="client-assets-wrapper">
        <div class="assets-info">
          <div class=""><span class="grey-txt">აქტივები: </span><span
            class="balance">{{ clientService.clientInfo.sumAmount | floatnum }}</span> <b>GEL</b>
          </div>
          <div class=""><span class="grey-txt">Plus:</span> <b class="plus-points">{{ clientService.clientInfo.plusPoints }}</b>
          </div>
        </div>
        <div class="logout">
          <button class="ui red button" (click)="endSession()">გასვლა</button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui horizontal segments navigation">
    <div class="ui segment focused" routerLinkActive="active" routerLink="/krn/krnicp"
         [routerLinkActiveOptions]="{exact: true}">
      <a class="page-link">მთავარი</a>
    </div>
    <div class="ui segment focused" routerLinkActive="active" routerLink="/krn/accounts">
      <a class="page-link">ანგარიშები</a>
    </div>
    <div class="ui segment focused" routerLinkActive="active" routerLink="/krn/operations">
      <a class="page-link">ოპერაციები</a>
    </div>
  </div>
</div>
