<div class="ui segments">
  <div class="ui segment">
    <h1>კლიენტის ძებნა</h1>
    <form class="ui bordered form segment" [formGroup]="searchForm" (ngSubmit)="searchClient()">
      <div class="ui three column grid">
        <div class="column">
          <div class="field">
            <label>სახელი</label>
            <input type="text" formControlName="firstName">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label>გვარი</label>
            <input type="text" formControlName="lastName">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label>კლიენტის უნიკალური</label>
            <input type="number" formControlName="clientKey">
          </div>
        </div>
      </div>
      <div class="grid right-aligned">
        <button type="submit" class="ui orange icon button">ძებნა</button>
      </div>
    </form>
  </div>

  <div class="ui segment" *ngIf="showFlag">
    <div class="table-header">
      <span>კლიენტები</span>
      <div class="ui icon button" (click)="goToRegister()">
        <i class="icon plus"></i>
      </div>
    </div>
    <table>
      <thead>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>კლიენტის უნიკალური</th>
      </thead>
      <tbody>
      <tr *ngFor="let client of clientsArr" (click)="goToClientHeader()" class="client-list">
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.clientKey}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



