<div class="ui segments">
  <div class="ui segment">
    <h1>კლიენტის ძებნა</h1>
    <form class="ui bordered form segment">
      <div class="ui three column grid">
        <div class="column">
          <div class="field">
            <label>სახელი</label>
            <input type="text">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label>გვარი</label>
            <input type="text">
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label>კლიენტის უნიკალური</label>
            <input type="number">
          </div>
        </div>
      </div>
      <div class="grid right-aligned">
        <div type="submit" class="ui orange icon button">ძებნა</div>
      </div>
    </form>
  </div>
  <div class="ui segment">
    <div class="table-header">
      <span>კლიენტები</span>
      <div class="ui icon button">
        <i class="icon plus"></i>
      </div>
    </div>
    <table>
      <thead>
      <th>სახელი</th>
      <th>გვარი</th>
      <th>კლიენტის უნიკალური</th>
      </thead>
      <tbody>
      <tr>
        <td>ქრისტინა</td>
        <td>ჩარკვიანი</td>
        <td>1</td>
      </tr>
      <tr>
        <td>მარიამ</td>
        <td>ავალიანი</td>
        <td>2</td>
      </tr>
      <tr>
        <td>ანანო</td>
        <td>შველიძე</td>
        <td>3</td>
      </tr>
      <tr>
        <td>მარიამ</td>
        <td>ჩარკვიანი</td>
        <td>4</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>



