<form class="ui segments form">
  <div class="ui segment">
    <h1>კლიენტის რეგისტრაცია</h1>
  </div>
  <div class="ui segment">
    <div class="ui form">
      <div class="ui field">
        <div class="nine wide field">
          <label>სახელი</label>
          <input type="text">
        </div>
      </div>
      <div class="ui field">
        <div class="nine wide field">
          <label>გვარი</label>
          <input type="text">
        </div>
      </div>
      <div class="ui field">
        <div class="nine wide field">
          <label>Plus ქულები</label>
          <input type="number">
        </div>
      </div>
    </div>
  </div>

  <div class="ui segment">
    <button type="submit" class="ui orange button">რეგისტრაცია</button>
  </div>

</form>

