<div class="ui segments"  *ngIf="showFlag">
  <div class="ui segment">
    <h1>ანგარიშები</h1>
  </div>
  <div class="ui segment">
    <div class="table-header">
      <span>ანგარიშები</span>
      <div class="ui icon button" (click)="onClick()">
        <i class="icon plus"></i>
      </div>
    </div>
    <div class="ui segment" *ngIf="!(accountService.acctList?.length>0)">
      <p>ჩანაწერი არ მოიძებნა</p>
    </div>
    <table *ngIf="accountService.acctList?.length">
      <thead>
      <th>მფლობელი</th>
      <th>სახელი</th>
      <th>თანხა</th>
      <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let account of accountService.acctList; let i=index">
        <td>{{account.clientFirstName}} {{account.clientLastName}}</td>
        <td>{{account.accountName}}</td>
        <td>{{account.amount | floatnum}}</td>
        <td>
          <i class="icon trash" (click)="onDelete(account.accountKey)"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
