<form class="ui segments form" (ngSubmit)=onClick()>
  <div class="ui segment">
    <h1>ანგარიშის შექმნა</h1>
  </div>
  <div class="ui segment">
    <div class="ui form">
      <div class="ui field">
        <div class="nine wide field">
          <label>ანგარიშის სახელი</label>
          <input type="text">
        </div>
      </div>
      <div class="ui field">
        <div class="nine wide field">
          <label>თანხა</label>
          <input type="number">
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <button type="submit" class="ui orange button"  >შექმნა</button>
  </div>
</form>

