<div class="shell">
  <bg-shell-header></bg-shell-header>
  <bg-shell-sidebar></bg-shell-sidebar>
  <div class="shell__content">
    <div class="ui container">
      <div class="shell__content__operation-date">საოპერაციო თარიღი: {{ curDate }}
        <hr>
      </div>
      <!-- TODO: Show client header here when client is chosen -->
      <div class="ui segments"  >
        <div class="ui segment">
          <div class="client-header-wrapper">
            <div class="client-info-wrapper">
              <img class="header-img" src="https://picsum.photos/200">
              <div class="client-data">
                <div><b>ქრისტინა ჩარკვიანი</b></div>
                <div class="client-key">უნიკალური კოდი: <b>319001111</b></div>
              </div>

            </div>
            <div class="client-assets-wrapper">
              <div class="assets-info">
                <div class=""><span class="grey-txt">აქტივები: </span><span class="balance">1000000.00</span> <b>GEL</b>
                </div>
                <div class=""><span class="grey-txt">Plus:</span> <b class="plus-points">27000</b></div>
              </div>
              <div class="logout">
                <button class="ui red button" (click)="endSession()">გასვლა</button>
              </div>
            </div>
          </div>
        </div>

        <div class="ui horizontal segments navigation">
          <div class="ui segment focused" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/krn/krnicp" class="page-link">მთავარი</a>
          </div>
          <div class="ui segment focused" routerLinkActive="active">
            <a routerLink="/krn/accounts" class="page-link">ანგარიშები</a>
          </div>
          <div class="ui segment focused" routerLinkActive="active">
            <a routerLink="/krn/operations" class="page-link">ოპერაციები</a>
          </div>
        </div>

      </div>

      <!-- client header -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
