<div class="left-sidebar">
  <div class="left-sidebar__user-section">
    <!-- TODO: Show User's name and picture here -->
    <div class="user-header-wrapper">
      <div class="user-img-wrapper">
        <img class="user-img" src="{{imgSrc}}">
      </div>
      <div class="user-info-wrapper">
        <div class="user-fullname">{{fullName}}</div>
      </div>
    </div>
    <div class="user-username">{{userName.toUpperCase()}}</div>
  </div>
  <ul class="left-sidebar__pages-section">
    <li>
      <a routerLink=".">
        <i class="home icon"></i>
        <span>მთავარი</span>
      </a>
    </li>
  </ul>
</div>
